<div class="container" style="padding: 5%;">
    <div class="row">
        <div class="d-flex justify-content-around">
          <button routerLink="./permisos" type="button" style="cursor: pointer; width: 200px;"  data-bs-target="#Permisos" aria-expanded="false" class="btn btn-success">
                Permisos
            </button>
            <button routerLink="./tipopermisos" type="button" style="cursor: pointer; width: 200px;"data-bs-target="#TPermisos" aria-expanded="false" class="btn btn-success">
                Tipos de Permisos
            </button>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
