<div class="container permisos">
    <flash-messages></flash-messages>
    <form *ngIf="idPersona == 0" [formGroup]="formAdd" (ngSubmit)="onAgregarPermiso()" novalidate>
        <h2>Agregar permisos</h2>
        <mat-form-field appearance="fill">
            <mat-label>Nombre del empleado</mat-label>
            <input matInput type="text" [(ngModel)]="permisoModel.vchNombreEmpleado"
            formControlName="addNombre" required/> 
            <mat-error *ngIf="formAdd.controls['addNombre'].invalid">
                Campo requerido
             </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Apellidos</mat-label>
            <input matInput type="text" [(ngModel)]="permisoModel.vchApellidosEmpleado"
            formControlName="addApellido" required/> 
            <mat-error *ngIf="formAdd.controls['addApellido'].invalid">
                Campo requerido
             </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Tipo de permisos</mat-label>
            <mat-select [(ngModel)]="idTipoPermiso" formControlName="addTipoPermiso" required>
                <mat-option *ngFor="let value of tipoPermisos" [value]="value.id" >
                    {{value.vchDescripcion}}</mat-option>
                </mat-select>
                <mat-error *ngIf="formAdd.controls['addTipoPermiso'].invalid">
                    Campo requerido
                 </mat-error>
            </mat-form-field>

        <mat-form-field appearance="fill">
            <input matInput [disabled]="true" [matDatepicker]="basicDatepicker" [(ngModel)]="permisoModel.dtFechaPermiso"
            formControlName="addFecha" required>
                <mat-datepicker-toggle [for]="basicDatepicker"></mat-datepicker-toggle>
                <mat-datepicker [disabled]="false" #basicDatepicker></mat-datepicker>
            <mat-label>Fecha de solicitud de permiso</mat-label>
            <mat-error *ngIf="formAdd.controls['addFecha'].invalid">
                Campo requerido
             </mat-error>
        </mat-form-field>
            
        <div class="col-10">
            <button matbutton type="submit" class="btn btn-success" style="float: left; cursor: pointer"
            [disabled]="!formAdd.valid">
            Agregar permiso
            </button>
        </div>
</form>
</div>
<div class="container permisos">
    <h2>Editar permisos de usuario</h2>
    <mat-form-field appearance="fill" class="col-6">
        <mat-label>Empleado</mat-label>
        <mat-select [(ngModel)]="idPersona">
            <mat-option *ngFor="let value of permisos" [value]="value.id" >
                {{value.vchNombreEmpleado}}</mat-option>
            </mat-select>
        </mat-form-field>
        
        <div *ngIf="idPersona > 0">   
            <form [formGroup]="formUpdate" 
            (ngSubmit)="onEditarPermiso()" novalidate>
            <mat-form-field appearance="fill">
                <mat-label>Nombre del empleado</mat-label>
                <input matInput type="text" [(ngModel)]="permisoModel.vchNombreEmpleado"
                formControlName="UpdNombre" required/> 
                <mat-error *ngIf="formUpdate.controls['UpdNombre'].invalid">
                    Campo requerido
                </mat-error>
            </mat-form-field>
            
        <mat-form-field appearance="fill">
            <mat-label>Apellidos</mat-label>
            <input matInput type="text" [(ngModel)]="permisoModel.vchApellidosEmpleado"
            formControlName="UpdApellido" required/> 
            <mat-error *ngIf="formUpdate.controls['UpdApellido'].invalid">
                Campo requerido
            </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Tipo de permisos</mat-label>
            <mat-select [(ngModel)]="idTipoPermiso" formControlName="UpdTipoPermiso" required>
                <mat-option *ngFor="let value of tipoPermisos" [value]="value.id" >
                    {{value.vchDescripcion}}</mat-option>
                </mat-select>
                <mat-error *ngIf="formUpdate.controls['UpdTipoPermiso'].invalid">
                    Campo requerido
                </mat-error>
            </mat-form-field>
            
            <mat-form-field appearance="fill">
                <input matInput [disabled]="true" [matDatepicker]="basicDatepicker" [(ngModel)]="permisoModel.dtFechaPermiso"
                formControlName="UpdFecha" required>
                <mat-datepicker-toggle [for]="basicDatepicker"></mat-datepicker-toggle>
                <mat-datepicker [disabled]="false" #basicDatepicker></mat-datepicker>
                <mat-label>Fecha de solicitud de permiso</mat-label>
                <mat-error *ngIf="formUpdate.controls['UpdFecha'].invalid">
                    Campo requerido
                </mat-error>
            </mat-form-field>
            <div class="col-10 d-flex justify-content-between">
                <button  type="button" class="btn btn-danger" 
                (click)="onCancelarEdicion()" novalidate>
                Cancelar
            </button>
            <button  type="submit" class="btn btn-success" style="float: left; cursor: pointer"
            [disabled]="!formUpdate.valid">
                Guardar cambios
            </button>
        </div>
        </form>
    </div>        
</div>