.permisos{
    background-color: rgb(202, 202, 202);
    color:black;
    padding: 2em;
}

.mat-form-field-empty.mat-form-field-label {
    color: green;
}

.mat-label{
    color: black !important;
}

