:host {
    .mat-form-field {
        font-size: 1em;
        color: rgb(0, 0, 0);
      }
    .mat-form-field ::ng-deep .mat-label {
      font-size: 1em;
      color: rgb(0, 0, 0);
    }
  }
  .permisos {
    background-color: rgb(223, 240, 253);
    color: black;
    padding: 2em;
  }