<div class="container permisos">
    <flash-messages></flash-messages>
  
    <div class="card-body">
        <div class="tabla">
          <ng2-smart-table
            [settings]="settings"
            [source]="tipoPermisos"
            (deleteConfirm)="onDeleteConfirm($event)">
          </ng2-smart-table>
        </div>
      </div>
  </div>